@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gluten';
    transition: ease-in-out;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.novel-review{
    position: relative;
    width: 450px;
}

.links{
    width: 100%;
    height: 100vh;
    background-color: #D9DADD;
    padding:  5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a{
    color: #2a2b2d;
    text-decoration: none;
    font-size: 1.2em;
}



.links h4{
    width: auto;
    margin-bottom: 15px;
    background-size: 0 100%;
    background-position: 0 .8em;
    background-repeat: no-repeat;
    background-size: 0 100%;

}

.links h4:hover{
    cursor: pointer;
    transition: .5s ease-in-out;
    background-image: linear-gradient(to right, #2a2b2d 0, #2a2b2d 100%);
    background-size: 100% 100%;
    transform: scale(1.2);

}

.links img{

    width: 500px; 
}

.img-container p{
    position: absolute;
    width: 300px;
    top: 32%;
    left: 62%;
    font-size: 1.6em;
    line-height: 1.5em;
    color: #2a2b2d;
}

.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.review-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #cfd4cd;
    padding: 5% 15%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    overflow: hidden;
}

.book-cover{
    position: relative;
    width: 350px;
    height: 450px;
    background-color: #58654b;
    z-index: 1;
}

.book-img{
    position: absolute;
    top: 16%;
    left: -20%;
    width: 500px;
    height: 300px;
    box-shadow: 2px 2px 2px 2px #191a19;
    z-index: 1;
}

.box{
    position: relative;
    width: 300px;
    height: 100px;
    margin-bottom: 40px;
    z-index: 3;
}

.text{
    position: absolute;
    z-index: 5;    
}

.tan h3{
    top: -15px;
    left: 20px;
    color: #ffffff;
    font-size: 2em;
}

.tan h2{
    top: 40px;
    left: 10px;
    color: #ffffff;
    font-size: 1.4em;
    padding-right: 5px;
}

.box-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: #ffffff 2px solid;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box-bg{
    position: absolute;
    top: 7px;
    right: 10px;
    background-color: #58654b;
    width: 100%;
    height: 100px;
    z-index: 2;
}

/* .title::before{
    background-color: #bbc7af;
} */

.title h3{
    text-shadow: 2px 2px 2px #bbc7af;
}

/* .author::before{
    background-color: #85987a;
} */

.author h3{
    text-shadow: 2px 2px 2px #85987a;
}

.notes h3{
    text-shadow: 2px 2px 2px #58654b;
}

.notes p{
    color: #ffffff;
    font-size: .8em;
    padding: 25px 20px;
}

.circles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


.c1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #586c61;
    clip-path: circle(1000px at right 400px);
    z-index: 1;
    right: -750px;

}

.c2{
    position: absolute;
    top: 120px;
    right: -80px;
    width: 100%;
    height: 100%;
    background-color: #465f517e;
    clip-path: circle(400px at right 500px);
    z-index: 1;

}


.fortune{
    position: relative;
    top: 25px;
    width: 200px;
    height: fit-content;
    background-color: #e9cfb1;
    transform: rotate(-8deg);
    z-index: 1;
}

.fortune p{
    font-size: .8em;
    font-weight: 600;
}

.fav-quote{
    position: relative;
    width: 300px;
    height: 150px;
    background-color: #cfc2b2;
    z-index: 3;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #58654b;
    padding: 5px;
}

.fav-quote h2{
    position: relative;
    background-color: #586c61;
    color: #ffffff;
    width: 150px;
    text-align: center;
    left: 25%;
    top: -30px;
    border-radius: 5px;
    transform: perspective(100px);
    font-size: 1em;
    letter-spacing: .1em;
    line-height: .8em;
    padding: 5px;

}

.bar{
    position: absolute;
    top: 0px;
    left: 52px;
    width: 200px;
    height: 15px;
    background-color: #586c61;
    border-radius: 5px;
    z-index: -1;
}

.fav-quote p{
    padding: 5px 20px;
    font-weight: 700;
}

.gifts{
    position: relative;
    z-index: 2;
    display: flex;
    /* grid-template-columns: auto; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    width: 200px;
    height: auto;
}

.gifts h2{
    color: #fff;
    text-shadow: 2px 2px 2px #191a19;
    font-size: 1.2em;
    text-align: center;
}

.gift{
    position: relative;
    width: 140px;
    height: 140px;
}

.gift-container{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 3;
    overflow: hidden;
}

.gift-container img{
    height: 140px;
}

.first .gift-container{
    right: 15px;
    bottom: 5px;
}

.second .gift-container{
    left: 15px;
}

.third .gift-container{
    right: 15px;
}


.gift-bg-hue{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bbc7af;
}

.my-review{
    position: absolute;
    bottom: 60px;
    right: 200px;
    z-index: 3;
    margin-top: 80px;
    width: 450px;
}

.review-paper{
    width: 450px;
    filter: brightness(.96);
}

.clear-tape{
    position: absolute;
    top: -12%;
    right: 30%;
    z-index: 3;
    width: 200px;
}

.gar{
    position: absolute;
    top: 30%;
    left: -15%;
    z-index: 3;
    width: 100px;
}

.my-review h2{
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 1.6em;
    color: #2F4858;
}

.my-review p{
    position: absolute;
    top: 55px;
    padding: 0px 20px;
    line-height: 1.4em;
    word-spacing: .4em;
    color: #2F4858;
    font-size: 1.1em;
}






.bottom-circles{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0px;
    right: 0;
}



.bc1{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(600px at right 600px) ;
    z-index: 2;
    background-color: #586c61;

}

.bc2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #979e9ae4;
    clip-path: circle(300px at center 700px);
    z-index: 1;
}

.rec-ting{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 150px;
    background-color: #85987a6e;
    bottom: 60px;
    left: -600px;
    transform: rotate(70deg);
    z-index: 0;
}

.leaf{
    position: absolute;
    top: 36%;
    left: 21%;
    width: 250px;
    transform: rotate(230deg);
}

.vintage-paper{
    position: absolute;
    bottom: 0;
    left: -17%;
    z-index: 1;
}

@media (max-width: 1330px) {
    
    .review-container{
        padding: 5% 10%;
    }

    .my-review{
        right: 10%;
    }
}

@media (max-width: 1200px) {


    .links img{
        width: 400px;
    }

    .img-container p{
        font-size: 1.2em;
        width: 220px;
        left: 66%;
    }

    .book-cover{
        width: 250px;
        height: 350px;
        left: 30%;
    }

    .book-img{
        width: 450px;
        height: 280px;
        top: 10%;
        left: -37%;
    }

    .tan h2{
        font-size: 1em;
    }

    .tan h3{
        font-size: 1.2em;
    }

    .box{
        width: 250px;
        height: 80px;
    }

    .box-bg{
        width: 100%;
        height: 100%;
    }

    .notes p{
        font-size: .7em;
    }

    .fortune{
        margin-top: 40px;
        z-index: 3;
        left: 40px;
    }

    .fav-quote{
        margin-top: 40px;
        width: 250px;
        height: 120px;
    }

    .fav-quote h2{
        width: 120px;
        font-size: .9em;
    }

    .fav-quote p{
        font-size: .9em;
        padding: 0px 10px;
    }

    .bar{
        width: 150px;
    }

    .leaf{
        top: 32%;
        width: 200px;
    }

    .gifts{
        left: 30%;
        margin-top: 60px;
    }

    .gifts h2{
        font-size: 1em;
    }

    .gift{
        width: 120px;
        height: 120px;
    }

    .gift-container img{
        height: 120px;
    }

    .my-review{
        margin-top: 60px;
        width: 400px;
    }

    .review-paper{
        width: 400px;
    }

    .clear-tape{
        top: -10%;
        width: 150px;
    }

    .gar{
        width: 80px;
        left: -13%;
    }

    .my-review h2{
        font-size: 1.4em;
    }

    .my-review p{
        top: 50px;
        font-size: .9em;
        line-height: 1.6em;
    }

    .vintage-paper{
        transform: scale(.78);
        bottom: -6%;
        left: -18%;
    }


}

@media (max-width: 1050px) {

    .links{
        padding: 10%;
    }

    .links img{
        width: 350px;
    }

    .links h4{
        font-size: .8em;
    }

    .img-container p{
        font-size: 1em;
        width: 200px;
        left: 64%;
        top: 35%;
    }

    .book-cover{
        width: 200px;
        height: 300px;
        left: 40%;
    }

    .book-img{
        width: 400px;
        height: 250px;
        top: 8%;
        left: -50%;
    }

    .vintage-paper{
        transform: scale(.78);
        bottom: -6%;
        left: -20%;
    }

}

@media (max-width : 1000px) {

    .img-container p{
        left: 64%;
    }
    
    .review-container{
        padding: 10%;
    }

    .book-cover{
        width: 250px;
        height: 300px;
        left: 50px;
    }

    .book-img{
        width: 350px;
        height: 220px;
        left: -20%;
        top: 13%;
    }

    .fortune{
        margin-top: 20px;
        width: 150px;
        font-size: .8em;
    }

    .fav-quote{
        width: 200px;
        height: 100px;
    }

    .fav-quote h2{
        font-size: .8em;
        width: 100px;
    }

    .fav-quote p{
        font-size: .7em;
    }

    .bar{
        width: 130px;
        left: 40px;
    }

    .leaf{
        top: 35%;
        width: 150px;
    }

    .gifts{
        left: 10%;
    }

    .gift{
        width: 100px;
        height: 100px;
    }

    .gift-container img{
        height: 100px;
    }

    .my-review{
        width: 350px;
        top: 54%;
    }

    .review-paper{
        width: 350px;
    }

    .clear-tape{
        top: -10%;
        width: 150px;
    }

    .gar{
        width: 60px;
        left: -12%;
    }

    .my-review h2{
        font-size: 1.2em;
    }

    .my-review p{
        top: 45px;
        font-size: .8em;
        line-height: 1.5em;
    }

    .vintage-paper{
        transform: scale(.78);
        left: -22%;
    }

    .c1{
        clip-path: circle(800px at right 450px);
        right: -620px;

    }

    .c2{
        clip-path: circle(300px at right 500px);
        right: -40px;
    }

    .bc1{
        clip-path: circle(430px at right 500px) ;
    }

    .rec-ting{
        bottom: 0px;
        left: -600px;
        width: 120%;
    }

    .vintage-paper{
        transform: scale(.74);
        bottom: -7%;
    }

}

@media (max-width: 900px) {

    .links img{
        width: 320px;
    }

    .img-container p{
        left: 61%;
    }

    .review-container{
        padding: 10% 5% ;
    }

    .vintage-paper{
        left: -24%;
    }
}

@media (max-width: 850px) {

    .links img{
        width: 300px;
    }

    .links h4{
        font-size: .8em;
    }

    .img-container p{
        width: 180px;
        left: 63%;
    }
    .review-container{
        padding: 10%;
    }

    .book-cover{
        width: 200px;
        height: 250px;
        top: 5%;
    }

    .book-img{
        width: 300px;
        height: 180px;
        top: 13%;
    }

    .box{
        margin-bottom: 30px;
    }

    .tan h2{
        font-size: .8em;
    }

    .tan h3{
        font-size: 1em;
    }

    .box{
        width: 220px;
        height: 70px;
    }

    .box-bg{
        width: 100%;
        height: 100%;
    }

    .notes p{
        font-size: .6em;
    }

    .fortune{
        margin-top: 10px;
    }

    .fav-quote h2{
        top: -20px;
    }

    .leaf{
        top: 33%;
        left: 28%;
    }

    .gifts h2{
        font-size: .9em;
    }

    .gift{
        width: 90px;
        height: 90px;
    }

    .gift-container img{
        height: 90px;
    }

    .my-review{
        width: 300px;
        top: 54%;
    }

    .review-paper{
        width: 300px;
    }

    .clear-tape{
        top: -8%;
        width: 100px;
        left: 30%;
    }

    .gar{
        width: 60px;
        left: -12%;
    }

    .my-review h2{
        top: 20px;
        font-size: 1em;
    }

    .my-review p{
        top: 40px;
        font-size: .7em;
        line-height: 1.5em;
    }

    .c1{
        clip-path: circle(600px at right 400px);
        right: -420px;

    }



    .c2{
        clip-path: circle(250px at right 450px);
        right: -30px;
    }

    .bc1{
        clip-path: circle(400px at right 500px) ;
    }

    .bc2{
        clip-path: circle(250px at center 550px);
    }

    .rec-ting{
        bottom: 0px;
        left: -580px;
        width: 120%;
    }

    .vintage-paper{
        transform: scale(.7);
        bottom: -10%;
        left: -27%;
    }

}



@media (max-width: 750px) {
    .links img{
        width: 250px;
    }

    .links h4{
        font-size: .7em;
    }

    .img-container p{
        font-size: .8em;
        width: 150px;
        left: 65%;
    }

    .review-container{
        padding: 10%;
    }

    .book-cover{
        width: 180px;
        height: 230px;
        top: 5%;
    }

    .book-img{
        width: 280px;
        height: 160px;
        top: 14%;
        left: -25%;
    }

    .box{
        margin-bottom: 30px;
    }

    .tan h2{
        font-size: .8em;
    }

    .tan h3{
        font-size: 1em;
    }

    .box{
        width: 200px;
        height: 70px;
        align-items: center;
    }

    .box-bg{
        width: 100%;
        height: 100%;
    }

    .notes p{
        font-size: .6em;
    }

    .fortune{
        margin-top: 20px;
    }

    .fav-quote h2{
        top: -20px;
        left: 45px;
        font-size: .6em;
        width: 80px;
    }

    .bar{
        width: 110px;
        left: 20%;
    }

    .fav-quote{
        width: 180px;
        height: 90px;
    }

    .fav-quote p{
        font-size: .6em;
    }

    .leaf{
        top: 32%;
        left: 28%;
    }

    .gifts{
        margin-top: 40px;
        left: 0%;
    }

    .gifts h2{
        font-size: .8em;
    }

    .gift{
        width: 80px;
        height: 80px;
    }

    .gift-container img{
        height: 80px;
    }

    .my-review{
        width: 250px;
        top: 54%;
    }

    .review-paper{
        width: 250px;
    }

    .clear-tape{
        top: -8%;
        width: 100px;
        left: 30%;
    }

    .gar{
        width: 50px;
        left: -12%;
    }

    .my-review h2{
        top: 15px;
        font-size: .9em;
    }

    .my-review p{
        top: 30px;
        font-size: .7em;
        line-height: 1.3em;
        word-spacing: .1em;
    }

    .c1{
        clip-path: circle(500px at right 350px);
        right: -340px;

    }

    .c2{
        clip-path: circle(250px at right 450px);
        right: -40px;
    }

    .bc1{
        clip-path: circle(300px at right 400px) ;
    }

    .bc2{
        clip-path: circle(200px at center 500px);
    }

    .rec-ting{
        bottom: 0px;
        left: -580px;
        width: 1000px;
    }

    .vintage-paper{
        transform: scale(.6);
        bottom: -14%;
        left: -30%;
    }

}

@media (max-width: 650px) {

    .links img{
        width: 250px;
    }

    .links h4{
        font-size: .6em;
    }

    .img-container p{
        font-size: .8em;
        width: 150px;
        top: 37%;
        left: 61%;
    }

    .review-container{
        padding:  10% 5%;
    }

    .vintage-paper{
        transform: scale(.6);
        bottom: -16%;
        left: -34%;
    }
}

@media (max-width: 600px) {

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .58em;
    }

    .img-container p{
        font-size: .7em;
        width: 120px;
        top: 40%;
        left: 64%;
    }

    .review-container{
        padding: 10% 5%;
    }

    .book-cover{
        width: 150px;
        height: 200px;
        top: 5%;
    }

    .book-img{
        width: 230px;
        height: 130px;
        top: 15%;
        left: -25%;
    }

    .box{
        margin-bottom: 30px;
    }

    .tan h2{
        font-size: .8em;
    }

    .tan h3{
        font-size: .9em;
    }

    .box{
        width: 180px;
        height: 60px;
        align-items: center;
    }

    .box-bg{
        width: 100%;
        height: 100%;
    }

    .notes p{
        font-size: .5em;
        width: 200px;
    }

    .leaf{
        width: 100px;
    }

    .fortune{
        top: -10px;
        font-size: .7em;
        width: 130px;
    }

    .fav-quote{
        top: -20px;
        right: 40px;
    }

    .gifts{
        margin-top: 0px;
        width: 150px;
        left: 5%;
    }

    .gifts h2{
        font-size: .8em;
    }

    .my-review{
        margin-top: 30px;
        right: 5%;
    }

    .vintage-paper{
        transform: scale(.5);
        bottom: -19%;
        left: -37%;
    }
}

@media (max-width: 550px) {

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .58em;
    }

    .img-container p{
        font-size: .7em;
        width: 120px;
        top: 40%;
        left: 62%;
    }

    .vintage-paper{
        transform: scale(.5);
        bottom: -21%;
        left: -43%;
    }
}

@media (max-width: 500px) {

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .52em;
    }

    .img-container p{
        font-size: .64em;
        width: 120px;
        top: 40%;
        left: 60%;
    }

    .review-container{
        padding:  10% 0%;
    }

    .book-img{
        width: 170px;
        height: 100px;
        top: 25%;
        left: -8%;
    }

    .box{
        width: 160px;
    }

    .notes p{
        font-size: .5em;
        width: 190px;
    }

    .fortune{
        top: 10px ;
        left: 40px;
    }

    .gifts h2{
        font-size: .7em;
        width: 120px;
    }

    .gifts{
        margin-top: 20px;
    }

    .gift{
        width: 50px;
        height: 50px;
        margin-bottom: 5px;

    }

    .gift-container img{
        height: 50px;
    }


    .my-review{
        margin-top: 70px;
        width: 220px;
    }

    .clear-tape{
        width: 100px;
        top: -30px;
    }

    .my-review h2{
        top: 15px;
        font-size: .8em;
    }

    .my-review p{
        top: 27px;
        font-size: .58em;
        line-height: 1.33em;
    }

    .review-paper{
       width: 220px;
    }



    .vintage-paper{
        left: -50%;
    }

}

@media (max-width: 400px) {

    .links{
        padding: 5%;
    }

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .5em;
        margin-bottom: 10px;

    }

    .img-container p{
        font-size: .64em;
        width: 120px;
        top: 40%;
        padding-right: 5%;
        line-height: 1.4em;

    }


    .book-cover{
        width: 120px;
        height: 180px;
        left: 30px;
        top: 10%;
    }

    .book-img{
        left: -15%;
        top: 17%;
        width: 160px;
        height: 120px;
    }

    .tan{
        position: relative;
        top: 20px;
    }

    .box{
        width: 170px;
        height: 50px;
        margin-bottom: 23px;
    }

    .box-container{
        top: 2px;
        left: -4px;
    }

    .tan h2{
        position: absolute;
        font-size: .6em;
        top: 20px;
    }

    .tan h3{
        font-size: .6em;
        position: absolute;
        top: -10px;
        left: 10px;
    }

    .notes p{
        font-size: .2em;
        width: 200px;
        font-weight: 300;
    }

    .fortune{
        top: 30px;
        font-size: .6em;
        width: 120px;
    }

    .leaf{
        width: 80px;
        left: 32%;
        top: 40%;
    }

    .fav-quote{
        width: 150px;
        height: 80px;
        top: 0px;
        right: 0;
    }

    .fav-quote h2{
        top: -17px;
        left: 30px;
        font-size: .58em;
    }

    .bar{
        left: 17%;
        width: 100px;
        top: -2px;
    }

    .fav-quote p{
        position: relative;
        padding: 0px 5px;
        top: -5px;
        font-size: .58em;
    }

    .gifts{
        margin-top: 40px;
    }

    .gift{
        width: 40px;
        height: 40px;
        margin-bottom: 5px;

    }

    .gift-container img{
        height: 40px;
    }

    .my-review{
        margin-top: 60px;
        width: 200px;
    }

    .review-paper{
        width: 200px;
        height: auto;
    }

    .my-review h2{
        top: 15px;
        font-size: .7em;
    }

    .my-review p{
        top: 25px;
        font-size: .58em;
        line-height: 1.2em;
        font-weight: 200;
        word-spacing: .1em;
    }

    .gar{
        width: 40px;
        left: -10%;
    }

    .clear-tape{
        width: 80px;
        top: -25px;
    }

    .c1{
        clip-path: circle(320px at right 200px);
        right: -220px;

    }

    .c2{
        clip-path: circle(150px at right 240px);
        right: -40px;
    }

    .bc1{
        position: absolute;
        clip-path: circle(300px at right 260px) ;
        left: 150px;
    }

    .bc2{
        clip-path: circle(100px at center 350px);
    }

    .vintage-paper{
        left: -60%;
        bottom: -30%;
        transform: scale(.4);
    }
}

@media (max-width: 768px) {

    .img-container p{
        left: 60%;
    }
}


@media (max-width : 375px) {
    .links{
        padding: 5%;
    }

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .5em;
        margin-bottom: 10px;

    }

    .img-container p{
        font-size: .64em;
        width: 150px;
        top: 40%;
        left: 50%;
        padding: 5%;
        line-height: 1.4em;

    }
}

@media (max-width : 414px) {
    .links{
        padding: 5%;
    }

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .5em;
        margin-bottom: 10px;

    }

    .img-container p{
        font-size: .64em;
        width: 150px;
        top: 41%;
        left: 52%;
        padding: 5%;
        line-height: 1.4em;

    }
}


@media (max-width : 430px) {
    .links{
        padding: 5%;
    }

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .5em;
        margin-bottom: 10px;

    }

    .img-container p{
        font-size: .64em;
        width: 150px;
        top: 41%;
        left: 54%;
        padding: 5%;
        line-height: 1.4em;

    }
}

@media (max-width : 360px) {
    .links{
        padding: 5%;
    }

    .links img{
        width: 200px;
    }

    .links h4{
        font-size: .5em;
        margin-bottom: 10px;

    }

    .img-container p{
        font-size: .64em;
        width: 150px;
        top: 41%;
        left: 50%;
        padding: 5%;
        line-height: 1.4em;

    }
}

